@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");
/* GENERAL */
* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f3f2ee;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: var(--secondary-bg-color);
}
.container {
  width: 93.238vw;
  margin: 0 auto;
}
.opacity {
  opacity: 0.6;
}
/* HEADER */
header {
  width: 100vw;
  background-color: var(--primary-bg-color);
}
#header {
  display: flex;
  height: 7.674vw;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header section {
  display: flex;
  align-items: center;
  height: 100%;
}
/* LOGO */
a#logo {
  height: 4.422vw;
  width: auto;
  display: flex;
  align-items: center;
}
#logo img {
  height: 100%;
}
#search {
  height: 4.422vw;
  margin-left: 0.5vw;
  width: 30.56vw;
  font-size: 1.5vw;
  /* Alterar */
  background-image: url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png");
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 2vw center;
  text-indent: 4.5vw;
  background-color: var(--secondary-bg-color);
}
#search:focus {
  background-image: none;
  text-indent: 0px;
}
/* MENU */
header nav ul {
  font-size: 0.6rem;
  display: flex;
  width: 40vw;
  justify-content: space-between;
}
header nav ul li {
  width: 20%;
}
header nav ul a {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav ul img {
  height: 2.602vw;
  width: 2.602vw;
  margin: 0 auto;
  margin-bottom: 1vw;
}
/* EU */
#me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#me img {
  border-radius: 50%;
  height: 3.303vw;
  margin-bottom: 0.5vw;
}
#me a {
  text-align: center;
}
#me h2 {
  font-size: 0.6rem;
}

/* MAIN */
main {
  font-family: "Rambla", sans-serif;
}
main section {
  margin: 4.9415vw 0;
  background-color: var(--primary-bg-color);
}
main section h1,
main section h3 {
  font-weight: 700;
}
#topMain, 
#bottomMain{
  border-radius: 5px;
}
/* MAIN TOP */
#banner {
  background-image: url(/assets/img/fundo.jpg);
  height: 17.556vw;
}

main #topMain img {
  border-radius: 50%;
  height: 13.868vw;
  transform: translateY(60%);
  margin: 0 4.081vw;
}
#mainInfo {
  height: 24.058vw;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3.6411vw;
  padding-left: 2.861vw;
}
#mainInfo h1 {
  margin: 2vw 0;
  font-size: 1.15rem;
}
#mainInfo h4 {
  font-size: 0.9rem;
}
#mainInfo p {
  font-size: 0.75rem;
  margin: 1vw 0;
}
#mainInfo button {
  border-radius: 20px;
  border: 1px solid #666666;
  font-size: 0.64rem;
  font-weight: 700;
  color: #666666;
  background-color: var(--primary-bg-color);
  padding: 0.392vw 1.708vw;
  margin-right: 1.5vw;
}
#mainInfo div button:first-child {
  border: 1px solid #0b65c2;
  background-color: #0b65c2;
  color: var(--primary-bg-color);
}
/* MAIN BOTTOM */
#bottomMain {
  padding: 2.5vw 0;
}
#bottomMain img {
  height: 4.454vw;
  margin-right: 2.5vw;
}
#bottomMain article:not(:last-child){
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 2.5vw;
}
#bottomMain h2 {
  margin-bottom: 4vw;
  font-size: 0.9rem;
  margin-left: 2.5vw;
}
#bottomMain h3 {
  font-size: 0.75rem;
}
#bottomMain p {
  font-size: 0.7rem;
}

.box {
  display: flex;
  margin-left: 2.5vw;
}
.innerBox {
  margin-bottom: 2vw;
}
.outerBox{
  
  margin-bottom: 2.5vw;
}
.separator{
  margin-left: 9.5vw;
  margin-bottom: 2.5vw;
}
.separator:not(:last-child){
  border-bottom: 1px solid #EBEBEB;
}
#bottomMain a {
  display: inline-block;
}
/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
  header nav ul a span {
    display: none;
  }
}
