@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
/* GERAIS */
* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f3f2ee;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: var(--secondary-bg-color);
}
.container {
  width: 93.238vw;
  margin: 0 auto;
}
/* HEADER */
header {
  width: 100vw;

  background-color: var(--primary-bg-color);
}
#header {
  display: flex;
  height: 7.674vw;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header section {
  display: flex;
  align-items: center;
  height: 100%;
}
/* LOGO */
a#logo {
  height: 4.422vw;
  width: auto;
  display: flex;
  align-items: center;
}
#logo img {
  height: 100%;
}
#search {
  height: 4.422vw;
  margin-left: 0.5vw;
  width: 30.56vw;
  font-size: 1.5vw;
  background-image: url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png");
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 2vw center;
  text-indent: 4.5vw;
  background-color: var(--secondary-bg-color);
}
#search:focus {
  background-image: none;
  text-indent: 0px;
}
/* MENU */
header nav ul {
  font-size: 0.6rem;
  display: flex;
  width: 40vw;
  justify-content: space-between;
}
header nav ul li {
  width: 20%;
}
header nav ul a {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header nav ul img {
  height: 2.602vw;
  width: 2.602vw;
  margin: 0 auto;
  margin-bottom: 1vw;
}
/* EU */
#me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#me img {
  border-radius: 50%;
  height: 3.303vw;
  margin-bottom: 0.5vw;
}
#me a {
  text-align: center;
}
#me h2 {
  font-size: 0.6rem;
}

/* MAIN */
main{
  font-family: 'Rambla', sans-serif;
}
main section {
  margin: 4.9415vw 0;
  background-color: var(--primary-bg-color);
}
main section h1,
main section h2,
main section h3 {
  font-weight: bold;
}
/* Main Top */
#banner {
  background-image: url(/assets/img/fundo.jpg);
  height: 17.556vw;
}
main #topMain img {
  border-radius: 50%;
  height: 13.868vw;
  transform: translateY(60%);
  margin: 0 4.081vw;
}
#mainInfo {
  height: 24.058vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3.6411vw;
}
#mainInfo button {
  border-radius: 20px;
  font-size: 0.64rem;
  padding:0.392vw 1.708vw;
}
#mainInfo div button:first-child {
background-color: #0B65C2;
color: var(--primary-bg-color);
}

@media only screen and (max-width: 600px) {
  header nav ul a span {
    display: none;
  }
}
